@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Global CSS Start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  margin-bottom: 0;
}
p{
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
 
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Global CSS End */

/*Header CSS Start */
.logo img,
.logo-hidden img {
  width: 50%;
  text-align: center;
  max-width: 250px;
  vertical-align: middle;
}

.logo a {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo-hidden {
  display: none;
}
.site-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  background-color: #f5dacb;
}

.site-header .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navbar ul {
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
}

.main-navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.main-navbar ul li a {
  font-size: 1rem;
  padding: 5px;
  display: inline-block;
  color: #545556;
  font-weight: 600;
  line-height: 40px;
  transition: 0.5sec all ease-in;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.desktop-hidden-menu {
  display: none;
}

.desktop-navlist1 {
  width: 40%;
  margin: auto 0;
}

.logo {
  width: 20%;
  margin: auto;
}

.desktop-navlist2 {
  width: 40%;
  margin: auto 0;
  text-align: center;
}

.logo img {
  display: inline-block;
}

.main-navbar ul li a.active {
  color: #AC4E16;
}

.footer .footer-links ul li a.active {
  color: #AC4E16;
}

.main-navbar ul li a:hover {
  color: #fff;
  background: #AC4E16;
}

.close-icon {
  display: none;
}



/* .fixed-header {
  background-color: #fffcfc;
} */
.desktop-menu {
  display: flex;
  justify-content: space-around;
  /* padding: 5px 0; */
}

.menu-icon {
  display: none;
  color: #000;
  width: 30px;
  /* height: 20px; */
  text-align: right;
  cursor: pointer;
  margin: auto 0;
}

/* Header CSS End */


/* Banner Section CSS Start */
.banner {
  position: relative;
}

.banner-image {
  height: 590px;
  width: 100%;
}

.banner-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000007d;
}

.banner-text h1 {
  font-size: 65px;
  color: #fff;
  display: block;
  font-weight: 700;
}

.banner-text h2 {
  font-size: 30px;
  max-width: 800px;
  margin: 10px auto;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.banner-text-group {
  animation: gobig 2s ease-in-out forwards;
  opacity: 0;
  transform: scale(0);
  text-align: center;
}

@keyframes gobig {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Banner Section  CSS End */

/* Home Cards CSS Start */
.home-page-cards {
  padding: 50px 0;
}

.home-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home-card {
  width: 47%;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 15px auto;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.home-card-image {
  overflow: hidden;
  height: 300px;
}

.home-card-image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  object-fit: cover;
}

.home-card-image img:hover {
  transform: scale(1.2);
}

.card-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0 0 0/40%);
  background-blend-mode: multiply;

}

.card-content a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;

}

.card-content a h3 {
  font-size: 30px;
}

/* Home Cards CSS End*/

 /* Home Page Featured Hotels CSS Start */

.home-featured-cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}

.home-featured-card {
  width: 48%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  overflow: hidden;
}
.home-featured-card-image {
  overflow: hidden;
  height: 280px;
}
.home-featured-card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-featured-card-content ul {
  list-style-type: disc;
  margin-left: 17px;
}
.home-featured-card-content{
 padding: 15px;
   min-height:310px; 
}
.home-featured-card-content a {
  background: #AC4E16;
  width: 110px;
  padding: 8px 15px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  color: #fff;
}


 /* Home Page Featured Hotels CSS End*/

/* Home Page Signup CSS Start */
.home-signup-section {
  padding: 40px 0;
  background: #e5bca7;
}

.home-signup-wrapper {
  text-align: center;
}

.home-signup-input-wrapper {
  padding-top: 20px;
  margin: 0 auto;
}

.home-signup-input {
  width: 60%;
  display: inline-block;
  font-size: 16px;
  padding: 10px 15px;
  outline: none;
  border: none;
}

.home-signup-submit-button {
  display: inline-block;
  background: #AC4E16;
  color: #fff;
  padding: 10px 25px;
  font-size: 16px;
  outline: none;
  border: none;
  margin-left: -6px;
  cursor: pointer;
}

.home-signup-submit-button:hover {
  background-color: #ef884d8c;
}

/* Home Page Signup CSS End */


/* Footer CSS Start */
.footer {
  background-color: #f5dacb;
  padding: 50px 5px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-icons {
  text-align: center;
  display: inline-block;
  margin: 15px 10px;
  transition: 0.6s all ease-out;
}

.footer-icons i:hover {
  transform: scale(1.3);
}

.footer-items h3 {
  color: #000;
}

.footer-icons i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  color: #fffcfc;
  background: #AC4E16;
  line-height: 30px;
  margin: 0 5px;
}

.footer-links ul,
.footer-quick-links ul {
  margin-top: 15px;
  padding-left: 0;
}

.footer-links ul li,
.footer-quick-links ul li {
  padding: 3px 0px;
}

.footer-links ul li a,
.footer-quick-links ul li a {
  color: #545556;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.footer-links ul li a:hover,
.footer-quick-links ul li a:hover {
  color: #AC4E16;
  cursor: pointer;
}

.footer-links ul li a.active,
.footer-quick-links ul li a.active {
  color: #AC4E16;
}

.logo-bottom img {
  width: 100%;
  max-width: 150px;
  text-align: center;
}

/* Footer CSS End */


/* Copyright Section CSS Start */
.copyright {
  padding: 20px 0 10px 0;
  text-align: center;
  background: #f4e5dc;
  color: #545556;
  margin: auto 0;
  font-weight: 500;
}

/* Copyright Section CSS End */
