@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global CSS Start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Global CSS End */

/*Header CSS Start */
.logo img,
.logo-hidden img {
  width: 85%;
  text-align: center;
  max-width: 250px;
  vertical-align: middle;
}

.logo-bottom img {
  width: 60%;
  text-align: center;
  max-width: 250px;
}

.logo a,
.logo-hidden a {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.logo-bottom a {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.logo-hidden {
  display: none;
}

.site-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 9999;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.site-header .container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navbar ul {
  display: flex;
  gap: 9px;
  justify-content: center;
  align-items: center;
}

.main-navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.main-navbar ul li a {
  font-size: 1rem;
  padding: 5px;
  display: inline-block;
  color: #7d7979;
  font-weight: 600;
  line-height: 40px;
  transition: 0.5sec all ease-in;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
}

.desktop-hidden-menu {
  display: none;
}

.desktop-navlist1 {
  width: 40%;
  margin: auto 0;
}

.logo {
  width: 20%;
  margin: auto;
}

.desktop-navlist2 {
  width: 40%;
  margin: auto 0;
  text-align: center;
}

.logo img {
  display: inline-block;
}

.main-navbar ul li a.active {
  /* color: #AC4E16; */
  color: #e09132;
}

.footer .footer-links ul li a.active {
  /* color: #AC4E16; */
  color: #e09132;
}

.main-navbar ul li a:hover {
  color: #fff;
  /* background: #AC4E16; */
  background: #e09132;
}

.close-icon {
  display: none;
}



/* .fixed-header {
  background-color: #fffcfc;
} */
.desktop-menu {
  display: flex;
  justify-content: space-around;
  /* padding: 5px 0; */
}

.menu-icon {
  display: none;
  color: #000;
  width: 30px;
  text-align: right;
  cursor: pointer;
  margin: auto 0;
}

/* Header CSS End */


/* Banner Section CSS Start */
.banner {
  position: relative;
}

.banner-image {
  height: 590px;
  width: 100%;
}

.banner-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000007d;
}

.banner-text h1 {
  font-size: 65px;
  color: #fff;
  display: block;
  font-weight: 700;
}

.banner-text h2 {
  font-size: 30px;
  max-width: 800px;
  margin: 10px auto;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.banner-text-group {
  animation: gobig 2s ease-in-out forwards;
  opacity: 0;
  transform: scale(0);
  text-align: center;
}

@keyframes gobig {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Banner Section  CSS End */

/* Home Cards CSS Start */
.home-page-cards {
  padding: 50px 0;
}

.home-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home-card {
  width: 47%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 15px auto;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.home-card-image {
  overflow: hidden;
  height: 300px;

}

.home-card-image img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.home-card:hover .home-card-image img {
  transform: scale(1.3);
}

.home-card-image img:hover {
  transform: scale(1.2);
}

.card-content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0 0 0/40%);
  background-blend-mode: multiply;

}

.card-content a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;

}

.card-content a h3 {
  font-size: 35px;
}

/* Home Cards CSS End*/

/* Home Page Featured Hotels CSS Start */
.home-page-featured-cards {
  /* background-color: #dc703270; */
  background-color: #a58e74;
  padding: 50px 0 60px 0;
}

.home-page-featured-cards h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 40px;
  color: #fff;
}

.home-featured-cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;

}

.home-featured-card {
  width: 48%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-featured-card-image {
  overflow: hidden;
  height: 280px;
}

.home-featured-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.home-featured-card-image img:hover {
  transform: scale(1.3);
}

.home-featured-card-content ul {
  list-style-type: disc;
  margin-left: 17px;
}

.home-featured-card-content {
  padding: 15px;
  min-height: 300px;
  background-color: #fff;
}

.home-featured-card-content p,
.home-featured-card-content ul li {
  font-weight: 500;
}

.home-featured-card-content a {
  /* background: #AC4E16; */
  background: #e09132;
  padding: 8px 20px;
  border-radius: 5px;
  margin-top: 10px;
  display: inline-block;
  color: #fff;
}

.home-featured-card-content a:hover {
  background-color: #B76F06;
}

.home-page-guide-cards {
  padding: 50px 0;
}

.home-page-guide-cards h3 {
  font-size: 40px;
  text-align: center;
}

/* Home Page Featured Hotels CSS End*/

/* Home Page Signup CSS Start */
.home-signup-section {
  padding: 40px 0;
  background-color: #DFE0DF;
  background: linear-gradient(to top, #DFE0DF, #bfc1bf);
}

.home-signup-wrapper {
  text-align: center;

}

.home-signup-wrapper h3 {
  text-align: center;
  font-size: 30px;
}

.home-signup-input-wrapper {
  padding-top: 20px;
  margin: 0 auto;
}

.home-signup-input {
  width: 40%;
  display: inline-block;
  font-size: 16px;
  padding: 10px 15px;
  outline: none;
  border: none;
}

.home-signup-submit-button {
  display: inline-block;
  /* background: #AC4E16; */
  background: #e09132;
  color: #fff;
  padding: 10px 25px;
  font-size: 16px;
  outline: none;
  border: none;
  margin-left:4px;
  cursor: pointer;
}

.home-signup-submit-button:hover {
  background-color: #B76F06;
  color: #fff;
}

/* Home Page Signup CSS End */


/* Footer CSS Start */
.footer {
  /* background-color: #f5dacb; */
  padding: 50px 5px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-icons {
  text-align: center;
  /* display: inline-block; */
  margin: 15px 10px;
}



.footer-items h3 {
  color: #000;
}

.footer-icons i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 16px;
  color: #fffcfc;
  /* background: #AC4E16; */
  background: #e09132;
  line-height: 35px;
  margin: 0 5px;
  transition: 0.6s all ease-out;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-icons i:hover {
  transform: scale(1.3);
}

.footer-links ul,
.footer-quick-links ul {
  margin-top: 15px;

}

.footer-links ul li,
.footer-quick-links ul li {
  padding: 3px 0px;
}

.footer-links ul li a,
.footer-quick-links ul li a {
  color: #7d7979;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}

.footer-links ul li a:hover,
.footer-quick-links ul li a:hover {
  /* color: #AC4E16; */
  color: #e09132;
  cursor: pointer;
}

.footer-links ul li a.active,
.footer-quick-links ul li a.active {
  /* color: #AC4E16; */
  color: #e09132;
}

.logo-bottom {
  text-align: center;
}


/* Footer CSS End */


/* Copyright Section CSS Start */
.copyright {
  padding: 20px 0 10px 0;
  /* background-color: #dc703270; */
  background-color: #a58e74;
 }
.copyright p{
  text-align: center;
  color: #fff;
   margin: auto 0;
  font-weight: 600;
}

/* Copyright Section CSS End */

/* Pages CSS Start */


/* Pages Banner CSS Start */
.pages-banner-image {
  height: 430px;
}

.pages-banner-text h1 {
  font-size: 45px;
  font-weight: 600;
}

.pages-banner-text h2 {
  font-size: 30px;
  font-weight: 600;
}

.pages-banner-text-group {
  animation: slideside 1.5s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-200px);
  text-align: center;
}

@keyframes slideside {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Pages Banner CSS End */
.pages-intro {
  padding: 45px 10px;
}

.pages-intro-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.pages-intro-wrapper p {
  font-size: 15px;
  color: #545556;
  font-weight: 500;
}

.checked {
  /* color: #AC4E16; */
  color: #e09132;
}

.pages-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.pages-card {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  overflow: hidden;
}

.pages-card:last-child {
  width: 97%;
}


.pages-card-image {
  overflow: hidden;
  height: 320px;
  width: 100%;
}

.pages-card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.6s all ease-in-out;
}

.pages-card-image img:hover {
  transform: scale(1.2);
}

.pages-card-content-group {
  margin: 10px 0;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.pages-card-content ul li {
  list-style-type: disc;
  margin-left: 17px;

}

.pages-card-content {
  padding: 20px;
  width: 100%;
}

.pages-card-content p,
.pages-card-content ul li {
  color: #545556;
  font-weight: 500;
  font-size: 15px;
}


.pages-card-content h2 {
  margin-bottom: 5px;
}

.subpage-exp-content {
  margin-top: 10px;
  display: none;
  font-weight: 500;
  font-size: 15px;
  color: #545556;
}

.btn-darkred-block {
  margin-top: 10px;
  color: #fff;
  background-color: #AC4E16;
  background-color: #e09132;
  border: none;
  outline: none;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  min-width: 115px;
  line-height: 14px;
  display: inline-block;
  text-align: center;
}

.btn-darkred-block:hover {
  background: #B76F06;
  transform: scale(1.05);
}

.pages-link-btn {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  /* background-color: #AC4E16; */
  background-color: #e09132;
  border: none;
  outline: none;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 20px;
  font-weight: 400;
  transition: 0.3s all ease-in-out;
  min-width: 115px;
  line-height: 14px;
  text-align: center;
}

.pages-link-btn:hover {
  background: #B76F06;
  transform: scale(1.05);
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.heading-like {
  font-weight: 700;
  color: #000;
}

/* Pages Cards Section CSS Start */
.pages-cards-wrapper h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

/* Pages Cards Section CSS Start */

/* After Cards Text CSS Start */

.after-cards-text {
  padding: 50px 10px;
}

.after-cards-text-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.after-cards-text-group {
  width: 48%;
  gap: 20px;
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto 20px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  background: #e1b989;
}
.after-cards-text-group h3 {
  font-size: 20px;
  margin-bottom: 8px;
  max-width: 400px;
}

.after-cards-text-group p {
  color: #464748;
  font-size: 15px;
  font-weight: 600;
  max-width: 510px;
  margin: 0 auto;
}

.text-cards-icon-group {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  padding: 10px 0;
  align-items: normal;
}

.text-card-icons {
  display: flex !important;
  width: 40px;
  height: 40px;
  /* background: #AC4E16; */
  background: #e09132;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

/* After Cards Text CSS End */

/* Privacy Policy Page CSS Start */

section.privacy-policy-content {
  padding-top: 45px;
}

.privacy-policy-group {
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.privacy-policy-group h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.privacy-policy-group p {
  font-size: 15px;
  font-weight: 600;
  color: #545556;
  max-width: 1100px;
  word-break: break-word;
}

/* Privacy Policy Page CSS End*/

/* Terms Conditons CSS Start */
.terms-conditions-content {
  padding: 50px 0 0 0;
}

.terms-conditions-group {
  padding: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.terms-conditions-group h2 {
  margin-bottom: 8px;
}

.terms-conditions-group h3 {
  margin-bottom: 8px;

}

.terms-conditions-group h4 {
  margin-bottom: 8px;
  font-size: 15px;
}

.terms-conditions-group p {
  font-size: 15px;
  color: #545556;
  font-weight: 600;
  margin-bottom: 8px;
}

.terms-conditions-group ul {
  margin-bottom: 8px;
}

.terms-conditions-group ul li {
  color: #545556;
  font-size: 15px;
  font-weight: 600;
  list-style: disc;
  margin-left: 17px;
}
/* Terms Conditons CSS End */
/* Pages CSS End */


/* Cookies CSS Start */

#cookie-bar {
  font-family: "Montserrat", sans-serif;
  /* background: #ac4e16; */
  background: #e09132;
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  color: #fff;
  width: 100%;
}

#cookie-bar p {
  width: 85%;
  float: left;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
}

#cookie-bar button {
  float: right;
  background: #edb391;
  border: none;
  padding: 15px 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
}
#cookie-bar button:hover {
  color: #B76F06;
  background: #fff;
  
}

#cookie-bar a {
  color: #fff;
}

#contentcookie {
  padding: 20px 50px;
  width: 80%;
  margin: auto;
}

.clear {
  clear: both;
}
/* Cookies CSS End */



